
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Montserrat:300i,400,400i,500,600,700);
@charset "UTF-8";
/* .instagram-logo{
    text-align: center;
	padding: 10px;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
    font-weight: 700;
} */


/* header  */
.header-section .user-profile-icon{
	border-radius: 50%;
	height: 20px;
	width: 20px;
	margin-bottom: 3px;
}
.loader{
	/* display: none; */
	height: 100%;
	width: 100%;
	position:  absolute;
	z-index: 1;
	top: 50%;
	right: 0;
	text-align: center;
}

.header-section .navbar ul li a i{ color: black; font-size: 20px;} 

/* ****START common css  *******/
.custom-input{background-color: #f6f6f6c7; font-size: 13px;}

.insta-logo{
	width: 130px;
	height: 100%;
}
.insta-name-logo{
	width: 190px;
	height: 65px;
}

/* for divider line */
.divider {
	display: flex;
}
.divider:before, .divider:after {
	content: "";
	flex: 1;
}
  
.line {
	align-items: center;
	margin: 12px 12px -4px ;
}
.line:before, .line:after {
	height: 1px;
	margin: 0 12px;
}
  
.one-line:before, .one-line:after {
	background: #dbdbdb;
}
 /*****END common css  ******/


 /*start footer  */

 .footer{
	 justify-content: center;
	margin-bottom:30px ;
	/* transform: translateY(-50%); */
 }
 .footer-list{
	display: flex;
	flex-direction: row;
    /* flex-wrap: wrap; */
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
 }
 .footer ul li a{
	color: #8e8e8e;
    font-size: 12px;}
/* end footer */

/*****START css for login page ******/

/* .login-page{margin-top: 60px;} */

.login-page .card {
	/* justify-content: center; */
	width: 33%;
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
}

.login-page #login-form .login-btn{
	width: 100%;
}

.login-page .fb-section{color: #385185;} 
.fa-facebook-square{font-size: 20px;}
.fb-login-btn{color: #385185; font-weight: 600; margin-left: 8px;} 
.sign-up-btn{font-weight: 600;}


.sign-up-card ,.login-card {height: 75px;}
 
/*****END css for login page ******/


/*****START css for login page ******/
.register-page .card{
	justify-content: center;
	width: 33%;
	margin: 0 auto;
	padding: 0px 20px 0px 20px ;
}
.register-page #sign-up-btn{width: 100%;}
.register-page .sign-up-heading{ 
	font-size: 16px;
	color: #8e8e8e;
    line-height: 20px;}

.register-page .term-policy{
	color: #8e8e8e;
    font-size: 12px;
    line-height: 16px;
    margin: 15px 0px;
    text-align: center;
	}
.register-page .term-policy a{color:#8e8e8e;
	font-weight: 600;}
/*****END css for login page ******/



/* START right sidebar */
.right-sidebar{ 
	
	position: fixed;
    top: 100px;
    right: 272px;
    /* left: 0; */
    z-index: 2;
}
.right-sidebar .logged-in-user-profile {
	position: relative;
	height: 60px;
	width: 60px;
}
.right-sidebar .logged-in-user-profile img{	 border-radius: 50%; }


.logged-user-section ,.suggested-user-section {
	display: flex;
	vertical-align: middle;
}
.right-sidebar .logged-user-section .logged-in-username{
	color: #262626;
    overflow-x: hidden;
    text-overflow: ellipsis;
	font-size: 15px;font-weight: 600;
	text-decoration: none;
}
.right-sidebar .logged-user-section .logged-in-name{   
	font-size: 13px;
	color: #8e8e8e;
	font-weight: 400;
}

.right-sidebar .link-btn{
	font-size: 13px;
	color: #0095f6; font-weight: 600; margin-left: 8px;
}
.right-sidebar .logged-user-section	.middle-section{
	margin: 10px 0px 0px 0px;
}
.right-sidebar .third-setion{
	margin-top: 15px;
}

.suggested-user-section .user-profile{
	position: relative;
	height: 50px;
	width: 50px;
}
.right-sidebar .suggested-user-section .user-profile img{border-radius: 50%;}
.right-sidebar .suggested-user-section .username{
	color: #262626;
    overflow-x: hidden;
    text-overflow: ellipsis;
	font-size: 15px;font-weight: 600;
	text-decoration: none;
}
.right-sidebar .suggested-user-section .fullname{   
	font-size: 13px;
	color: #8e8e8e;
	font-weight: 400;
}
.right-sidebar .suggested-user-section	.middle-section{
	margin: 10px 0px 0px 5px;
}

.right-sidebar .suggestion-heading
{
	display: flex;
	color: #8e8e8e;
	font-weight: 500;
	font-size: 14px;
    line-height: 18px;
	margin: 5px 5px 7px 0px;
}
/* END right sidebar */


.story-section{
	top: 100px;
}
/* ******* STARt post-section  */
.post-section{
	/* top: 100px; */
	border: 1px solid rgba(0, 0, 0, 0.185);	
	background-color: #fff;
	height: auto;
}
.post-section .post-head{
	display: flex;
	vertical-align: middle;
	/* height: 60px; */
}
.post-section .post-head .head-content{
	padding : 10px 0px 10px 10px;
}
.post-head .post-user-pic{
    height: 60px;
    width: 60px;
}
.post-section .post-head .post-username{
	color: #262626;
	font-size: 15px;
	font-weight: 500;
}

.post-body .user-posts{
	width: 100%;
}
.post-body .user-posts img{
	max-width: 100%;
	object-fit: cover;
}
.post-desc .post-stats{padding: 10px;}
.post-desc .post-stats a { 
	padding: 0px 7px 0px 7px;
	font-size: 20px; 
	color: black;
}
/* .post-like-btn i{fill: red;} */


.post-desc .post-stats{
	display: flex;
	flex-direction: row;
}

/* ******* END post-section  */



/*start usection-user-profile*/

.section-user-profile{
	margin-top: 70px;
}

.section-user-profile .user-profile{
	height: 120px;
	width: 120px;
	border-radius: 50%;
}
.section-user-profile .loggedin-username{
	font-size: 30px;
    color: #8e8e8e;
    font-weight: 400;
}

.section-user-profile .edit-profile-btn{
	border: solid 1px #8e8e8e;
	font-size: 12px;
	font-weight: 600;
}  

.section-user-profile .edit-profile-btn:hover{ background-color: #f8f9fa;} 

.section-user-profile .setting-btn{
	font-size: 26px;
	color:#010507;
	cursor:pointer;
}

.section-user-profile .user-stats{font-size: 13px;font-weight: 600;}
.section-user-profile .fullname{color: #262626;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;}

.section-user-profile .account-type{
	font-size: 13px;
    color: #8e8e8e;
    font-weight: 400;
}

.user-posts-block{
	box-shadow: #262626;
}
.user-tab .user-posts-block img.users-single-post{

	/* height:200px; */
	background:gray;
	transition: all 0;
}
/*end usection-user-profile*/
